@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
  background-color: #e6e0d7;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  text-align: center;
  color: #17222c;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 600;
  font-style: normal;
}

.website-div {
  box-sizing: border-box;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.website-layout-nav {
  box-sizing: border-box;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.website-layout-nav a {
  width: 90% !important;
  text-decoration: none;
  text-align: center;
  color: #17222c;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 600;
  font-style: normal;
}

.website-layout-nav-list-div {
  box-sizing: border-box;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.website-layout-nav-list-div ul {
  box-sizing: border-box;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.website-layout-nav-list-div ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
  font-size: 20px;
}

.website-layout-nav-list-div ul li:first-child {
  border-left: none !important;
}

.website-layout-nav-list-div ul li:last-child {
  border-right: none !important;
}

.data-generator-div {
  width: 350px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0px 8px 24px 0px rgb(66, 68, 90);
  -moz-box-shadow: 0px 8px 24px 0px rgb(66, 68, 90);
  box-shadow: 0px 8px 24px 0px rgb(66, 68, 90);
}

.data-generator-div form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.data-generator-div form span {
  min-width: 100%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 600;
  font-style: normal;
}

.data-generator-div form label {
  margin-bottom: 5px;
  font-size: 16px;
}

.data-generator-div form input {
  outline: none;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  padding-left: 10px;
  min-width: 100%;
  height: 32px;
  background-color: #f3edda;
  border: 1px solid #a8ada2;
  border-radius: 4px;
  color: #02212e;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 2px 12px -2px rgb(66, 68, 90);
  -moz-box-shadow: 0px 2px 12px -2px rgb(66, 68, 90);
  box-shadow: 0px 2px 12px -2px rgb(66, 68, 90);
}

.data-generator-button {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  color: #f3faff;
  background-color: #17222c;
  outline: none;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 600;
  font-style: normal;
  border-radius: 8px;
  cursor: pointer;
}

.data-import-span-message {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: darkgreen;
}

.select-page-div {
  box-sizing: border-box;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-data-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.select-page-div-content {
  box-sizing: border-box;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.button-options-choose-div {
  margin-top: 75px;
  box-sizing: border-box;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.active-button {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3faff;
  background-color: #17222c;
  outline: none;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 600;
  font-style: normal;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.no-active-button {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color: #17222c;
  outline: none;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 600;
  font-style: normal;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.no-active-button:hover {
  color: #f3faff;
  background-color: #17222c;
}

.create-page-div-content {
  box-sizing: border-box;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.delete-page-div-content {
  box-sizing: border-box;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.update-page-div-content {
  box-sizing: border-box;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.sample-organism-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: center;
}

.sample-organism-div form {
  padding: 100px 100px 50px 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.sample-organism-input-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sample-organism-input-container label {
  margin-bottom: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 600;
  font-style: normal;
  margin-right: 25px;
}

.sample-organism-input-container input {
  width: 200px;
  outline: none;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  padding-left: 10px;
  height: 32px;
  background-color: #f3edda;
  border: 1px solid #a8ada2;
  border-radius: 4px;
  color: #02212e;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 2px 12px -2px rgb(66, 68, 90);
  -moz-box-shadow: 0px 2px 12px -2px rgb(66, 68, 90);
  box-shadow: 0px 2px 12px -2px rgb(66, 68, 90);
}

.results-organism-div {
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.results-organism-div span {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 600;
  font-style: normal;
}

.charts-div {
  margin-top: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 100%;
}

.charts-div canvas {
  width: 600px !important;
  height: 300px !important;
}

.tables-div {
  margin-top: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 100%;
}

.tableOfData-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-title-span {
  font-size: 16px !important;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 20px;
}

.tableOfData-div ul {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tableOfData-div ul li {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3px;
  border: 1px solid #555555;
  border-right: none;
}

.tableOfData-div ul li:last-child {
  border-right: 1px solid #555555;
}

.tableOfData-div ul li p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3px;
  min-width: 100%;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.temp {
  border-bottom: 1px solid #555555;
}

/*# sourceMappingURL=index.css.map */
